@model AppUI.Models.ParticipantEventDetails

<html>
<head>
    <title>Participant Event Details</title>
</head>
<body>
    <h2>Participant Event Details:@Model.ParticipantId</h2>
    <div>PARTICIPANT EMAIL ID:@Model.ParticipantEmailId</div>
    <div>EVENT ID:@Model.EventId</div>
    <div>IS ATTENDED:@Model.isAttended</div>
</body>
</html>