@model List<HttpClientApp.Models.Employee>

<h3>Employee List</h3>
<table>
    <tr>
        <th>EMPCODE</th>
        <th>EMPNAME</th>
        <th>EMAIL</th>
        <th>DEPTCODE</th>
    </tr>
    @{

        foreach (var emp in Model)
        {
            <tr>
                <td>@emp.EmpCode</td>
                <td>@emp.EmpName</td>
                <td>@emp.Email</td>
				<td>@emp.DeptCode</td>
            </tr>
        }
    }
</table>