@model AppUI.Models.EventDetails

<html>
<head>
    <title>Event Details</title>
</head>
<body>
    <h2>Event Details:@Model.EventName</h2>
    <div>EVENT ID:@Model.EventId</div>
    <div>CATEGEORY:@Model.EventCategory</div>
    <div>DATE:@Model.EventDate</div>
    <div>DESCRIPTION:@Model.Description</div>
    <div>STATUS:@Model.Status</div>
</body>
</html>