@model AppUI.Models.EventDetails

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <title>Update Event</title>
</head>
<body>

    <form asp-route="EditEvent" method="post">
        <div>
            <label asp-for="EventId">Event Id:</label>
            <input type="number" asp-for="EventId" placeholder="Please Enter Event Id" readonly>
        </div>
        <div>
            <label asp-for="EventName">Event Name:</label>
            <input type="text" asp-for="EventName" placeholder="Please Enter Event Name">
        </div>
        <div>
            <label asp-for="EventCategory">Event Category:</label>
            <input type="text" asp-for="EventCategory" placeholder="Please Enter a Category">
        </div>
        <div>
            <label asp-for="EventDate">Event Date:</label>
            <input type="datetime" asp-for="EventDate" placeholder="Please Date of Event">
        </div>
        <div>
            <label asp-for="Description">Description:</label>
            <input type="text" asp-for="Description" placeholder="Please Enter Description">
        </div>
        <div>
            <label asp-for="Status">Status:</label>
            <input type="text" asp-for="Status" placeholder="Please Enter Status">
        </div>
        <div>
            <input type="submit" value="Update Event">
            <a asp-route="EventList">Cancel</a>
        </div>
    </form>
</body>
</html>
